
:root{
    --color:#ff00ff;
    --color2: white;
    --font: 24px;
    --color3: grey;
    --color4: #0B0B45;
}
main{
    display: flex;
    flex-direction: column;
}
.background-container{
    background-image:url(pic/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    height: 100%;
  
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    border: 0px; 
}
.logo{
   width: 200px;
   height: 50px;
   padding-left: 60%;
   padding-top: 10%;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 10%;
    padding-top: 0%;
        
}
.lists{
    color:white;
    text-decoration:none;
    font-family:Arial;
}
.on_eye{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
.main_heading{
    font-size: 105px;
    margin-left: -0.15em;
    margin-top: 0.7em;
    color: white;
    text-transform: capitalize;
    font-family:Arial;
 }
.sub_text{
    display: flex;
    gap: 3em;
    margin-top: -5em;
    color: white;
    font-family:Arial;
}
.button{
    background: var(--color);
    margin-top: 3em;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 40px;
    border-radius: 6cm;
    color: white;
    font-family:Arial;
}
.simple_text{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    font-family:Arial;
}
.learn{
    color: var(--color);
    margin-right: 5px;
}
.smilers{
    display:flex;
    justify-content: space-evenly;
}
.bruce, .henry, .phillip, .nannie{
    width: 100px;
}
.little_text{
    color:var(--color3);
    font-family:Arial;
}
#year_smile{ 
    margin-left: -20px; 
}
.year{
    color:var(--color3);
    font-family:Arial;
}
.names{
    color: var(--color2);
    margin-left: -25px;
    font-family:Arial;
}

.year_nannie{
    margin-left: 25px;
    color:var(--color3);
    font-family:Arial;
} 
.performance{
    color: var(--color3);
    margin-left: -25px;
    font-family:Arial;
}
#friend_smile{
    margin-left: -20px;
}
#winner{
    margin-left: -25px;
}
.phillips, .henrys, .bruces, .nannies{
    display: flex;
    flex-direction: column;
    line-height: 5px;
}
.small_link{
    height: 70px;
    font-family:Arial;
}
.weather_presenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    border: 10px;
    gap: 30px;
    color: var(--color2);
    font-family:Arial;
}
.weather_text{
    display: flex;
    flex-direction: column;  
    font-family:Arial;  
}
.person-name{
    line-height: 10px;
    font-family:Arial;
}
.the-colored{
    background-color: var(--color);
}
#little-title{
    color: var(--color);
}
.little-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family:Arial;
    font-size:x-large;
}
.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
    font-family:Arial;
}
.short-latin{
    color: var(--color3);
}
.phill{
    display: flex;
    flex-direction: row;
    /* justify-content: baseline; */
}
.massey{
    margin: -0.5px;
    margin-left: 10px;
    color: var(--color);
}
.play-button{
    display: flex;
    margin-top: -100px;
    margin-left: 70px;
}
.smile-types{
    margin-top: 50px;
}
.minute{
    display: flex;
    justify-content: space-between;

}
.min{
    margin-top: 0px;
    color:var(--color);
}
.membership{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin: 5%;
}
.free-member{
    color: var(--color2);
    display: flex;
    justify-content: center;
    gap: 5px;
}
.f{
    color: var(--color);
}
.register-here button{
    color: var(--color2);
    background-color: var(--color);
    border: none;
    height: 40px;
    width: 160px;
    border-radius: 6cm;
    text-align: center;
    cursor:pointer;
    font-family: Arial;
    font-size: 16px;
    
}
.register-here{
    display: flex;
    justify-content: center;
    
}
.space{
    height: 30px;
}
.the-emoji{
     background-color: var(--color4); 
     font-family:Arial;
}
.lorem-title{
    color:var(--color2)
}
.lorem{
    color: var(--color3);
}
.faq{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family: Arial;
}
.faq-content{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2em;
    
 
}
.section-1{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
   
}
.section-2{
    display: flex;
    flex-direction: row;
}
.div-one{
    margin-right: 10%;
     font-family: Arial;
}
.div-three{
    margin-right: 10%;
    font-family: Arial;
}
.div-two, .div-four{
    font-family: Arial;
}

 footer{
    background-color: var(--color4); 
    /* height: auto; */
    margin-left: -150px;
    margin-right: -150px;
 }
 .logo2{
    padding-left: 150px;
    height: 50px;
    width: 150px;
 }
 .footer{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
 }
 .social-media{
    display: flex;
    gap: 50px;
    padding-right: 150px;
 }
 .copyright{
    display: flex;
    justify-content: center;
    color: var(--color3);
    font-family: Arial;
 }
 .third-space{
    height: 60px;
 }
