body.works_on_smartphone{
    display: block;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.main_container{
    display: flex;
    flex-direction: row;
    flex: auto;
}
.article_container{
    display: flex;
    flex: 2;
    flex-direction: column;
    overflow-y: auto;
    background-color: brown;
    
}
.aside_container{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    background-color: yellow;
    height: 400px;;
}
.face_bone{
    height: 100px;
}
.header_container{
    display: flex;
    color: rgb(226, 2, 2);
    background-color: green;
}